#ms-components-theme(@theme-vars) {
    .gn-main-execution-container {
        .background-color-var(@theme-vars[main-variant-bg]);
        .gn-execution-tracker-content {
            .background-color-var(@theme-vars[main-variant-bg]);
        }
    }
}

.gn-execution-tracker {
    position: absolute;
    z-index: 5000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .gn-main-execution-container {
        background-color: rgba(0, 0, 0, 0.85);
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .gn-execution-tracker-content {
            width: 100%;
            height: 100%;
            color: #eeeeee;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}